.inlineButton{
    display: flex;
    justify-content: center;
}

.mainTextArea{
    /* margin:10px auto 10px auto; */
    color: #c8eaea;
    height: 260px;
    width:100%;
    outline: none;
    background-color: #666;
    font-size: 1.2em;
    border-color: #000;
    font-weight: bold;
}

.mainTextArea:focus{
    box-shadow:0 0 10px 5px rgba(255,255,255,.3);
}
.header{
    display: flex;
    font-size:1.6em;
}

.main{
    margin: 20px auto;
    padding: 0 50px;
}

.addition{
    display: flex;
    justify-content: space-between;
}

.Button{
    width:180px;
    min-width: 70px;
    height:30px;
    font-size:1.2em;
    font-weight: bold;
    margin: 15px auto;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}
.Button:hover{
    box-shadow: 0 0 5px #fff;
}


.input{
    width:100%;
    margin:10px 30px;
    height:30px;
    background-color: #666;
    border-color: #000;
    outline: none;
    border-width: 1px;
    color:#000;
    font-weight: bold;
    font-size:1.2em;
}
.input::-webkit-input-placeholder{
    color:#222;
}
.input:focus{
    box-shadow:0 0 10px 5px rgba(255,255,255,.3);
}

