.inlineSelect{
    display: flex;
    justify-content: center;
    margin:10px auto;
}

.inlineButton{
    display: flex;
    justify-content: center;
}

.mainTextArea{
    margin:20px auto 10px auto;
    height:260px;
    width:100%;
    outline: none;
    background-color: #666;
    font-size: 1.2em;
    border-color: #000;
    font-weight: bold;
}
.mainTextArea:focus{
    box-shadow:0 0 10px 5px rgba(255,255,255,.3);
}
.header{
    display: flex;
    font-size:1.6em;
}

.main{
    margin: 20px auto;
    padding: 0 50px;
}