.main{
    width: 100%;
    height: 100%;
    display: flex;
}
.left{
    width: 220px;
    height: 100%;
    background-color: #444;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.right{
    width: calc(100% - 220px);
    height: 100%;
    background-color: #282c34;
    overflow-y: auto;
}
.listItem{
    flex-shrink: 0;
    margin:0;
    padding:0;
    background-color: #444;
    height:30px;
    font-size: 1.2em;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style:dashed;
    border-bottom-width: 1px;
    border-bottom-color: #111;
    outline: none;
    cursor: pointer;
    color:#999;
    height: 35px;
}
.listItemActive{
    background-color:#666;
    color:#fff;
}
.contentItem{
    display: none;
}
.contentItemActive{
    display: block;
}